<div class="row" data-controller="channel" data-channel-id="<%= @channel.id %>" data-channel-current-user-id="<%= current_user.id %>">
  <div class="col-lg-3 col-md-4">
    <div class="d-flex justify-content-between">
      <h5>Channels</h5>
      <%= link_to icon("fas", "plus"), new_channel_path %>
    </div>

    <ul class="list-group">
      <% Channel.all.each do |channel| %>
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
        data-controller="unreads"
        data-unreads-id="<%= channel.id %>">
          <%= link_to channel.name, channel %>
          <div>
            <span class="badge badge-pill bg-danger fw-bold text-white" data-unreads-target="pill"><%= channel.unreads_amount(current_user) > 0 ? channel.unreads_amount(current_user) : "" %></span>
            <% if current_user.channels.include?(channel) %>
              <%= link_to icon("fas", "times"), channel_channel_user_path(channel), method: :delete %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>

    <hr>

    <div class="accordion accordion-flush" id="accordionFlushExample">

      <%# Accordion Users %>

      <div class="accordion-item">
        <h5 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Users
          </button>
        </h5>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <% @channel.users.each do |user| %>
              <p class="m-0"><%= user.name %></p>
            <% end %> 
          </div>
        </div>
      </div>

      <%# Accordion BAD WORDS %>
      
      <div class="accordion-item">
        <h5 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Bad words
          </button>
        </h5>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <% BAD_WORDS.each do |word| %>
              <p class="m-0"><%= word %></p>
            <% end %> 
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="col-lg-9 col-md-8 messages-container" data-action="click->channel#touch" data-channel-target="messagesContainer">
    <div data-channel-target="messages">
      <%= render @channel.displayable_messages %>
    </div>

    <% if current_user.channels.include?(@channel) %>
      <%= form_with model: [@channel, Message.new], local: false, data: { action: "ajax:success->channel#clearInput" } do |f| %>
        <%= f.text_field :body, class: "form-control", data: { channel_target: "input" } %>
      <% end %>
    <% else %>
      <%= link_to "Join #{@channel.name}", channel_channel_users_path(@channel), method: :post %>
    <% end %>
  </div>
</div>